﻿@model Peercore.CRM.Reports.Models.ViewModels.ReportViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @*<div class="form-group">
        @Html.LabelFor(model => model., "Category", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model., new SelectList(Model.ReportTypeList, "CategoryId", "CategoryName"), "- Please Select -")
            @Html.ValidationMessageFor(model => model.SelectedCategoryId)
        </div>
    </div>*@

@*@Html.Partial("_partialTerritory", Model)*@

