span.email-ids {
    float: left;
    /* padding: 4px; */
    border: 1px solid #ccc;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #f5f5f5;
    padding: 3px 10px;
    border-radius: 5px;
}

span.cancel-email {
    border: 1px solid #ccc;
    width: 18px;
    display: block;
    float: right;
    text-align: center;
    margin-left: 20px;
    border-radius: 49%;
    height: 18px;
    line-height: 15px;
    margin-top: 1px;    cursor: pointer;
}

.email-id-row {
    border: 1px solid #ccc;
}

.email-id-row input {
    border: 0; outline:0;
}

span.to-input {
    display: block;
    float: left;
    padding-right: 11px;
}

.email-id-row {
    padding-top: 6px;
    padding-bottom: 7px;
    /*margin-top: 23px;*/
}