﻿#popup
{
    background-color: #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    display: none;
    height: 80px;
    left: 45%;
    padding: 20px;
    position: absolute;
    top: 47%;
    width: 200px;
     z-index: 111000;
}

#popup button
{
    background: #356188 none repeat scroll 0 0;
    border: 1px solid #356188;
    border-radius: 3px;
    color: #fff;
    float: left;
    height: auto;
    line-height: 25px;
    margin-right: 3px;
    padding: 0 15px;
    width: auto;
    cursor: pointer;
}

#popup button:hover
{
    opacity: 0.9;
}