﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="breadcrumb.ascx.cs" Inherits="usercontrols_breadcrumb" %>
<asp:PlaceHolder ID="PlaceHolderbreadCrumb" runat="server"></asp:PlaceHolder>



<div class="maincontentarea_topbar">
<div id="div_breadcrumb" runat="server">
    
</div>
<div id="top_right_navigation_button" style="display:none">
	<ul>
		<%--<li><a id="a_salesinfo" href="#" >Sales Info</a></li>--%>
<%--		<li><a id="a_crmupdates" href="#" class="selected">CRM Updates</a></li>--%>
	</ul>

</div>
</div>