﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="buttonbar_navigation.ascx.cs" 
Inherits="usercontrols_buttonbar_navigation" %>
<div class="buttonbar">
    <asp:Button ID="buttonPrevious" runat="server" OnClick="buttonPrevious_Click" CssClass="previousbtn" />
    <asp:Button ID="buttonNext" runat="server" OnClick="buttonNext_Click" CssClass="nextbtn" />
   <%-- <asp:HyperLink ID="hlBack" runat="server" NavigateUrl="~/Default.aspx"><div class="back"></div></asp:HyperLink>--%>
</div>
