﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="document.aspx.cs" Inherits="usercontrols_document" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div id="divFrame" align="left">
    <%--<iframe id="ifrPhoto" scrolling="no" frameborder="0" hidefocus="true" style="text-align: center;
        vertical-align: middle; border-style: none; margin: 0px; width: 100%; height: 55px"
        runat="server"></iframe>--%>
</div>

<div style="width:45%">
            <input class="upload" name="files" id="files" type="file" upload-id="02ebeebf-98aa-459b-b41f-49028fa37e9c" />
        </div>

        


<div id="LeadDocumentGrid"></div>
<script type="text/javascript">
    $(document).ready(function () {
         Leaddocumentupload();
         loadLeaddocumentGrid();
    });
</script>
    </form>
</body>
</html>
