﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="entrypage_tabs.ascx.cs" Inherits="usercontrols_entrypage_tabs" %>

 <style type="text/css">
        #tabstrip
        {
            height: 100%;
            border-width: 0;
        }
        
    </style>

<div id="tabstrip">
     <ul id="ul_tabstrip">
      <li style="display:none">Tabb</li>
    </ul>
    <div>
    </div>
</div>