﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="toolbar_analysisgraph.ascx.cs" Inherits="usercontrols_toolbar_analysisgraph" %>

<nav class="menu1">
    <ul>
        <li><a id="a_activity_analysis" href="~/sales_info/process_forms/daily_effective_report.aspx"
            runat="server">
            <img src="../../assets/images/activity_analysis_icon.png">Daily Effective Report</a>
        </li>
       <%-- <li><a id="a_callcycle" href="~/dashboard/transaction/CallCycleContact.aspx" runat="server">
            <img src="../../assets/images/call_cycle_icon.png">Call Cycle Analysis</a> </li>
        <li><a id="a_opportunity" href="~/dashboard/transaction/OpportunityAnalysis.aspx"
            runat="server">
            <img src="../../assets/images/opportunity_conversion_icon.png">Opportunity Conversion</a>
        </li>
        <li><a id="a_enduser" href="~/dashboard/transaction/EndUserEnquiry.aspx" runat="server">
            <img src="../../assets/images/end_user_sales_icon.png">End User Sales Enquiry</a>
        </li>
        <li><a id="a_sales" href="~/dashboard/transaction/EOISales.aspx" runat="server">
            <img src="../../assets/images/sales_reports_icon.png">Sales Report</a> </li>--%>
    </ul>
</nav>