/* Kendo skin */
.k-in,
.k-item,
.k-window-action {
  border-color: transparent;
}
/* main colors */
.k-block,
.k-widget {
  background-color: #ffffff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-editable-area,
.k-separator,
.k-colorpicker .k-i-arrow-s,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header-wrap,
.k-grid-header,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-upload-files,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-progress {
  border-color: rgba(0, 0, 0, 0.14902);
}
.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-grouping-row td,
td.k-group-cell,
.k-calendar th,
.k-dropzone-hovered,
.k-upload-files,
.k-widget.k-popup {
  background-image: -webkit-linear-gradient(top, #ffffff 0px, #e6e6e6 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0px, #e6e6e6 100%);
  background-image: -o-linear-gradient(top, #ffffff 0px, #e6e6e6 100%);
  background-image:  linear-gradient(to bottom, #ffffff 0px, #e6e6e6 100%);
  background-position: 50% 50%;
  background-color: #f5f5f5;

}
.k-list-container {
  border-color: rgba(0, 0, 0, 0.14902);
  background-color: #f5f5f5;
}
.k-content,
.k-editable-area,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #ffffff;
}
.k-alt,
.k-separator {
  background-color: #f5f5f5;
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: rgba(0, 0, 0, 0.14902);
  background-color: #f5f5f5;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: rgba(0, 0, 0, 0.14902);
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #ffffff;
  color: #333333;
}
.k-input[readonly] {
  background-color: #ffffff;
  color: #333333;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-dropdown .k-input {
  color: #333333;
}
.k-link:link,
.k-link:visited {
  color: #333333;
}

.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link {
  color: #333333;
}
.k-header {
  color: #333333;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-button,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item {
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, #ffffff 0px, #e6e6e6 100%);
  background-image: none, -moz-linear-gradient(top, #ffffff 0px, #e6e6e6 100%);
  background-image: none, -o-linear-gradient(top, #ffffff 0px, #e6e6e6 100%);
  background-image: none, linear-gradient(to bottom, #ffffff 0px, #e6e6e6 100%);
  background-position: 50% 50%;
  background-color: #f5f5f5;
  margin:0px 0px 0px 0px; 
}


.k-grid-header .k-header {
    border-style: solid;
    border-width: 0 0 1px 1px;
    font-weight: normal;
    overflow: hidden;
}
.k-tabstrip-items .k-state-active {
  background: #ffffff;
}
.k-widget.k-tooltip {
  background-image: none;
}
.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-button,
.k-draghandle {
  background-color: #f5f5f5;
}
/* icons */
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite {
  opacity: 1;
}
.k-icon,
.k-state-disabled .k-icon,
.k-column-menu .k-sprite {
  opacity: 0.8;
}
.k-icon,
.k-tool-icon,
.k-grouping-dropclue,
.k-drop-hint,
.k-column-menu .k-sprite {
  background-image: url('../../../assets/images/sprite.png');
  border-color: transparent;
}
.k-loading,
.k-state-hover .k-loading {
  background-image: url('../../../assets/images/0.gif');
  background-position: 50% 50%;
}
.k-loading-image {
  background-image: url('../../../assets/images/loading-blue.gif');
}
.k-loading-color {
  background-color: #ffffff;
}
.k-button {
  color: #333333;
  border-color: rgba(0, 0, 0, 0.14902);
  background-color: #f5f5f5;
   
}
.k-button:hover {
  color: #000000;
  border-color: rgba(0, 0, 0, 0.0980392);
  background-color: #006dcc;
}
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:active,
.k-state-disabled .k-button:active {
  color: #999999;
  border-color: rgba(0, 0, 0, 0.14902);
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, #ffffff 0px, #e6e6e6 100%);
  background-image: none, -moz-linear-gradient(top, #ffffff 0px, #e6e6e6 100%);
  background-image: none, -o-linear-gradient(top, #ffffff 0px, #e6e6e6 100%);
  background-image: none, linear-gradient(to bottom, #ffffff 0px, #e6e6e6 100%);
}
.k-draghandle {
  border-color: rgba(0, 0, 0, 0.14902);
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-draghandle:hover {
  border-color: rgba(0, 0, 0, 0.0980392);
  background-color: #006dcc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter {
  background-color: #ffffff;
  /*border-color: #006dcc;*/
  color: #333333;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-state-highlight {
  background: #ffffff;
  color: #333333;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: rgba(0, 0, 0, 0.0980392);
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-button:active,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover {
  color: #ffffff;
  background-color: #497EAC;
  border-color: rgba(0, 0, 0, 0.0980392);
}
.k-state-focused,
.k-list > .k-state-focused,
.k-listview > .k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused,
.k-button:focus,
.k-button.k-state-focused {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px inset;
}
.k-list > .k-state-selected.k-state-focused {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > li > .k-state-selected {
  color: #ffffff;
}
.k-state-selected,
.k-button:active,
.k-draghandle.k-state-selected:hover {
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, none);
  background-image: none, -moz-linear-gradient(top, none);
  background-image: none, -o-linear-gradient(top, none);
  background-image: none, linear-gradient(to bottom, none);
  background-position: 50% 50%;
}
.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-marquee,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-imagebrowser-dropzone {
  color: #ffffff;
  background-color: #006dcc;
  background-image:-webkit-linear-gradient(top, #6BA0CE 0px, #497EAC 100%);
  background-image:-moz-linear-gradient(top, #6BA0CE 0px, #497EAC 100%);
  background-image:-o-linear-gradient(top, #6BA0CE 0px, #497EAC 100%);
  background-image: linear-gradient(to bottom, #6BA0CE 0px, #497EAC 100%);
  background-position: 50% 50%;
  border-color: rgba(0, 0, 0, 0.14902);
  
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: rgba(0, 0, 0, 0.0980392);
}
.k-button:hover,
.k-button:focus,
.k-button.k-state-focused,
.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-imagebrowser-dropzone em,
.k-draghandle:hover {
  /*background-image: none;
  background-image: none, -webkit-linear-gradient(top, #6BA0CE,  0px, #497EAC 100%);
  background-image: none, -moz-linear-gradient(top, #6BA0CE 0px, #497EAC 100%);
  background-image: none, -o-linear-gradient(top, #6BA0CE 0px, #497EAC 100%);
  background-image: none, linear-gradient(to bottom, #6BA0CE 0px, #497EAC 100%);*/
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-button:active,
.k-panelbar > .k-item > .k-state-focused {
  /*background-image: none;
  background-image: none, -webkit-linear-gradient(top, none);
  background-image: none, -moz-linear-gradient(top, none);
  background-image: none, -o-linear-gradient(top, none);
  background-image: none, linear-gradient(to bottom, none);*/
}
.k-tool-icon,
.k-tool-icon.k-state-hover,
.k-tool-icon.k-state-active,
.k-tool-icon.k-state-active.k-state-hover {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2013.1.514/styles/Bootstrap/sprite.png');
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-imagebrowser-dropzone em {
  color: #ffffff;
}
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused {
  background-image: none, -webkit-linear-gradient(top, #6BA0CE 0px, #497EAC 100%);
  background-image: none, -moz-linear-gradient(top, #6BA0CE 0px, #497EAC 100%);
  background-image: none, -o-linear-gradient(top, #6BA0CE 0px, #497EAC 100%);
  background-image: none, linear-gradient(to bottom, #6BA0CE 0px, #497EAC 100%);
  background-position: 50% 50%;
  border-color: rgba(0, 0, 0, 0.14902);
}
.k-calendar .k-state-selected.k-state-focused > .k-link {
  background-color: transparent;
}
.k-dropdown .k-state-focused .k-input {
  color: #333333;
}
.k-dropdown .k-state-hover .k-input {
  color: #ffffff;
}
.k-state-error {
  border-color: #eed3d7;
  background-color: #f2dede;
  color: #b94a48;
}
.k-state-disabled {
  filter: alpha(opacity=70);
  opacity: .7;
}
.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button,
.k-other-month .k-link,
.k-dropzone em,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #999999;
}
/* Slider */
.k-slider-track {
  background-color: rgba(0, 0, 0, 0.14902);
}
.k-slider-selection {
  background-color: #497EAC;
}
.k-slider-horizontal .k-tick {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2013.1.514/styles/Bootstrap/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2013.1.514/styles/Bootstrap/slider-v.gif');
}
/* Tooltip */
.k-widget.k-tooltip {
  border-color: rgba(0, 0, 0, 0.14902);
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}
.k-widget.k-tooltip-validation {
  border-color: #ff1414;
  /*background-color: rgba(255, 221, 221, 0);*/
  background-color:#ffdddd;
  color: #ff0000;
  height:20px;
  line-height:20px;
  /*margin-left:10px;*/
}
/* Bootstrap theme fix */
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.k-callout-n {
  border-bottom-color: rgba(0, 0, 0, 0.14902);
}
.k-callout-w {
  border-right-color: rgba(0, 0, 0, 0.14902);
}
.k-callout-s {
  border-top-color: rgba(0, 0, 0, 0.14902);
}
.k-callout-e {
  border-left-color: rgba(0, 0, 0, 0.14902);
}
/* Splitter */
.k-splitbar {
  background-color: #f5f5f5;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #b94a48;
}
/* Upload */
.k-progress-status {
  border-color: rgba(0, 0, 0, 0.0980392) transparent;
}
/* ImageBrowser */
.k-tile {
  border-color: #ffffff;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: rgba(0, 0, 0, 0.0980392);
}
.k-tiles li.k-state-selected {
  border-color: rgba(0, 0, 0, 0.0980392);
}
.k-tile .k-folder,
.k-tile .k-file {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2013.1.514/styles/Bootstrap/imagebrowser.png');
}
/* Shadows */
.k-widget {
  -webkit-box-shadow: none;
  box-shadow: none; 
}
.k-button {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin:10px 0;
  display:inline-block; 
}

.k-slider,
.k-treeview,
.k-upload {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
}
.k-state-selected {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-grid td{
    word-wrap: break-word; 
}
.k-grid td.k-state-selected.k-state-focused {
  background-color: #0049db;
}
.k-popup,
.k-menu .k-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-imagebrowser .k-image,
.k-tooltip {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-window {
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.2);
  box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.2);
  background-color: #ffffff;
}
.k-window.k-state-focused {
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
}
.k-shadow {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-inset {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* Border radius */
.k-block,
.k-button,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-colorpicker .k-list-container,
.k-calendar-container, 
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-button .k-state-hover,
.k-editor-button .k-state-active,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom:5px;
}

.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  /*moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;*/
  
}

.k-window-titlebar
{
  color: #ffffff;
  background-color: #006dcc;
  background-image: -webkit-linear-gradient(top, #6BA0CE 0px, #497EAC 100%);
  background-image: -moz-linear-gradient(top, #6BA0CE 0px, #497EAC 100%);
  background-image: -o-linear-gradient(top, #6BA0CE 0px, #497EAC 100%);
  background-image: linear-gradient(to bottom, #6BA0CE 0px, #497EAC 100%);
  background-position: 50% 50%;

}



.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.k-numeric-wrap .k-link {
  -moz-border-radius: 0 4px 0 0;
  -webkit-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  -moz-border-radius: 0 0 4px 0;
  -webkit-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.k-colorpicker .k-selected-color {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.k-rtl .k-colorpicker .k-selected-color {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.k-autocomplete.k-state-border-down .k-input,
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-animation-container .k-calendar-container,
.k-list-container.k-state-border-right {
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-animation-container .k-calendar-container,
.k-rtl .k-list-container.k-state-border-right {
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-progress,
.k-progress-status,
.k-numeric-wrap.k-expand-padding .k-input,
.k-multiselect-wrap {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-dropzone,
.k-upload-files {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}
.k-draghandle {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

 .k-grid-content tr > td > a
 {
     color: #4F4F4F;
 } 
 
 .k-nav-current > .k-link span + span {
    max-width: 200px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
}
/*.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
    color: #2e2e2e;
}*/

.k-nav-current.k-state-hover .k-link {
    color: #2e2e2e;
}
.k-scheduler {
    color: #2e2e2e;
    background-color: #fff;
}
.k-scheduler-layout {
    color: #2e2e2e;
}
.k-scheduler-datecolumn, .k-scheduler-groupcolumn {
    background-color: #fff;
    color: #2e2e2e;
}
.k-scheduler-times tr, .k-scheduler-times th, .k-scheduler-table td, .k-scheduler-header th, .k-scheduler-header-wrap, .k-scheduler-times {
    border-color: #c5c5c5;
}
.k-nonwork-hour {
    background-color: #f2f2f2;
}
.k-scheduler-table .k-today, .k-today>.k-scheduler-datecolumn, .k-today>.k-scheduler-groupcolumn {
    background-color: #f8f8f8;
}
.k-scheduler-now-arrow {
    border-left-color: #e20000;
}
.k-scheduler-now-line {
    background-color: #e20000;
}
.k-event {
    border-color: #ffdac1;
    background: #ffdac1 0 -257px url('textures/highlight.png') repeat-x;
    color: #2e2e2e;
}
.k-event-inverse {
    color: #fff;
}
.k-event.k-state-selected {
    background-position: 0 0;
}
.k-ie7 .k-event .k-resize-handle, .k-event .k-resize-handle:after {
    background-color: #bababa;
}
.k-scheduler-marquee:before, .k-scheduler-marquee:after {
    border-color: #dddddd;
}

.k-state-selected, .k-state-selected:link, 
.k-state-selected:visited, 
.k-list>.k-state-selected, .k-list>.k-state-highlight, 
.k-panel>.k-state-selected, .k-ghost-splitbar-vertical, 
.k-ghost-splitbar-horizontal, 
.k-draghandle.k-state-selected:hover, 
.k-scheduler .k-scheduler-toolbar .k-state-selected, 
.k-scheduler .k-today.k-state-selected, 
.k-marquee-color {
    color: #fff;
    background-color:#4C77B2;
    border-color: #4C77B2;
}
.k-state-hover, .k-state-hover:hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-list>.k-state-hover, .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .k-pager-wrap .k-link:hover, .k-dropdown .k-state-focused, .k-imagebrowser-dropzone, .k-mobile-list .k-item>.k-link:active, .k-mobile-list .k-item>.k-label:active, .k-mobile-list .k-edit-label.k-check:active, .k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active, .k-mobile-list .k-recur-view .k-check:active {
    color: #2e2e2e;
    background-color: #bcb4b0;
    border-color: #bcb4b0;
}
.k-scheduler-toolbar>ul li:first-child, .k-scheduler-toolbar>ul li:first-child .k-link {
    border-radius: 4px 0 0 4px;
}
.k-rtl .k-scheduler-toolbar>ul li:first-child, .k-rtl .k-scheduler-toolbar>ul li:first-child .k-link, .km-view.k-popup-edit-form .k-scheduler-toolbar>ul li:last-child, .km-view.k-popup-edit-form .k-scheduler-toolbar>ul li:last-child .k-link {
    border-radius: 0 4px 4px 0;
}
.k-scheduler-phone .k-scheduler-toolbar>ul li.k-nav-today, .k-scheduler-phone .k-scheduler-toolbar>ul li.k-nav-today .k-link, .k-edit-field>.k-scheduler-navigation {
    border-radius: 4px;
}
.k-scheduler-toolbar .k-nav-next, .k-scheduler-toolbar ul+ul li:last-child, .k-scheduler-toolbar .k-nav-next .k-link, .k-scheduler-toolbar ul+ul li:last-child .k-link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.k-rtl .k-scheduler-toolbar .k-nav-next, .k-rtl .k-scheduler-toolbar ul+ul li:last-child, .k-rtl .k-scheduler-toolbar .k-nav-next .k-link, .k-rtl .k-scheduler-toolbar ul+ul li:last-child .k-link {
    border-radius: 4px 0 0 4px;
}
.k-scheduler div.k-scheduler-footer ul li, .k-scheduler div.k-scheduler-footer .k-link {
    border-radius: 4px;
}
.k-more-events, .k-event, .k-event .k-link {
    border-radius: 3px;
}
.k-scheduler-mobile .k-event {
    border-radius: 2px;
}
.km-actionsheet .k-grid-delete:active, .km-actionsheet .k-scheduler-delete:active, .km-pane-wrapper .k-scheduler-delete:active, .km-pane-wrapper .k-filter-menu .k-button[type=reset]:active {
    background-color: #900;
}
.k-treeview .k-icon, .k-scheduler-table .k-icon, .k-grid .k-hierarchy-cell .k-icon {
    background-color: transparent;
    border-radius: 4px;
}
.k-scheduler-table .k-state-hover .k-icon {
    background-color: transparent;
}
.km-actionsheet .k-grid-delete, .km-actionsheet .k-scheduler-delete, .km-pane-wrapper .k-scheduler-delete, .km-pane-wrapper .k-filter-menu .k-button[type=reset] {
    color: #fff;
    border-color: #e20000;
    background-color: red;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, from(rgba(255, 255, 255, .3)), to(rgba(255, 255, 255, .15)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, .15));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, .15));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, .15));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .3), rgba(255, 255, 255, .15));
}






@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .k-icon,
  .k-grouping-dropclue,
  .k-drop-hint,
  .k-callout,
  .k-column-menu .k-sprite,
  .k-tool-icon,
  .k-tool-icon.k-state-hover,
  .k-tool-icon.k-state-active,
  .k-tool-icon.k-state-active.k-state-hover {
    background-image: url('http://da7xgjtj801h2.cloudfront.net/2013.1.514/styles/Bootstrap/sprite_2x.png');
    background-size: 192px 336px;
  }
}
