﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="cm_program.aspx.cs" Inherits="lead_customer_transaction_cm_program" %>

    <%@ Register Src="~/usercontrols/salesinfo.ascx" TagPrefix="ucl1" TagName="salesinfo" %>

<%@ MasterType TypeName="SiteMaster" %>
<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">

    <asp:HiddenField ID="HiddenFieldRepCode" runat="server" />


    <script type="text/javascript">
        $(document).ready(function () {
            loadHomePageTabs();
        });

    </script>
    <style type="text/css">
        #tabstrip
        {
            height: 100%;
            border-width: 0;
        }
        
    </style>
<%--    <div id="div_salesinfo">
        <ucl1:salesinfo ID="custsalesinfo" runat="server" />
    </div>--%>
    <div id="div_crm">
        <div id="tabstrip">&nbsp;
            <ul id="ul_tabstrip">
                <li class="k-state-active">Brand Campaign</li>
                <li style="display:none">CRM Updates </li>
            </ul>
            <div>
                <div class="salestabsthreefourth" style="display:none;">
                    <a href="#" class="tabslinks">Sales Details</a> <a href="#" class="tabslinks">CRM Updates</a>
                </div>
                <div class="salestabsthreefourth">
<%--                    <span>Market</span>
                    <asp:DropDownList ID="DropDownListMarket" runat="server" CssClass=".dropdown_large_x">
                    </asp:DropDownList>
                    &nbsp;<asp:DropDownList ID="DropDownListYM" runat="server" CssClass="dropdownwidth"
                        Width="75px">
                        <asp:ListItem Value="YTD" Text="YTD" Selected="True"></asp:ListItem>
                        <asp:ListItem Value="MTD" Text="MTD"></asp:ListItem>
                    </asp:DropDownList>--%>
                </div>
                <div class="homegridtwo" id="maindiv_sales" runat="server">
                    <div class="homegridheaderthreefourth">
                        Perfetti</div>
                    <div id="div_salesleaderboard" style="height:400px;">
                    <a id="A1" href="~/docs/ctc_docs/2.TMDBOOKLET-FINAL11.pdf" runat="server">
                    <img src="~/assets/images/Perfetti.png" runat="server"/>
                    </a>
                    </div>
                </div>
                <div class="homegridtwo"  id="maindiv_opportunity" runat="server">
                    <div class="homegridheaderthreefourth">
                        Awrudu Wasi</div>
                    
                     <div id="div_opportunity" style="height:400px;">
                     <a id="A2" href="~/docs/ctc_docs/2.TMDBOOKLET-FINAL11.pdf" runat="server">
                    <img src="~/assets/images/awrudu.png" runat="server" />
                    </a>
                    </div>
                </div>
                <div class="br">
                    &nbsp;</div>
 <%--               <div class="homegridthreefourth" id="maindiv_top5deals" runat="server">
                    <div class="homegridheader">
                        Sales Chart</div>
                    <div id="div_deals" style="height:300px; width: 550px">
                        
                    </div>
                </div>
                <div class="homegridthreefourth" id="maindiv_customer" runat="server">
                  <div class="homegridheader">
                      <div id="div_topcustomer_repcodeheader" >
                            Top 5 Customers
                        </div>
                        <div class="div_topcustomer_repcodedropdown">
                            Rep
                            <asp:DropDownList ID="dropdowntopcustomer" runat="server" AppendDataBoundItems="true">
                            </asp:DropDownList>
                        </div>
                    </div>
                    <div id="div_customers" style="height: 300px;  width: 500px">
                    </div>
                </div>
                <div class="br">
                    &nbsp;</div>
            </div>
            <div>--%></div>
        </div>
    </div>

    
   
   <script type="text/javascript">
       $(document).ready(function () {
           $("#top_right_navigation_button").removeAttr("style");


           //var busicode = $("#DropDownListMarket").val();
           //var yearmnt = $("#DropDownListYM").val();
           //loadSalesDetails("ALL", "YTD", $("#MainContent_HiddenFieldRepCode").val());

           //           $("#MainContent_DropDownListMarket").change(function () {
           //               loadSalesDetails($("#MainContent_DropDownListMarket").val(), $("#MainContent_DropDownListYM").val(), $("#MainContent_HiddenFieldRepCode").val());
           //           });
           //           $("#MainContent_DropDownListYM").change(function () {
           //               loadSalesDetails($("#MainContent_DropDownListMarket").val(), $("#MainContent_DropDownListYM").val(), $("#MainContent_HiddenFieldRepCode").val());
           //           });

           //           $("#MainContent_dropdowntopcustomer").change(function () {
           //               $("#MainContent_HiddenFieldRepCode").val($(this).val());
           //               loadCustomersdetails($("#MainContent_DropDownListMarket").val(), $("#MainContent_DropDownListYM").val(), $("#MainContent_HiddenFieldRepCode").val());
           //           });

           //           $("#a_salesinfo").click(function () {
           //               $("#a_salesinfo").addClass("selected");
           //               $("#a_crmupdates").removeClass("selected");
           //               //$("#div_salesinfo").animate({ display: 'block' });
           //               $("#div_salesinfo").css("display", "block");
           //               $("#div_crm").css("display", "none");
           //               //$("#div_crm").animate({ display: 'none' });
           ////               $("#div_crm").hide("slow");
           ////               $("#div_salesinfo").show("slow");

           ////               $("#div_crm").css("display", "none");
           ////               $("#div_salesinfo").css("display", "block");

           ////               $("#div_crm").animate({ "width": 0 }, "slow");
           ////               $("#div_salesinfo").animate({ "width": '100%' }, "slow");
           //               
           //           });

           //           $("#a_crmupdates").click(function () {
           //               $("#a_crmupdates").addClass("selected");
           //               $("#a_salesinfo").removeClass("selected");
           //               $("#div_crm").css("display", "block");
           //               $("#div_salesinfo").css("display", "none");
           //               loadSalesDetails("ALL", "YTD", $("#MainContent_HiddenFieldRepCode").val());
           ////               $("#div_salesinfo").hide("slow");
           //               //               $("#div_crm").show("slow");


           ////               $("#div_salesinfo").css("display", "none");
           ////               $("#div_crm").css("display", "block");

           ////               $("#div_salesinfo").animate({ "width": 0 }, "slow");
           ////               $("#div_crm").animate({ "width": '100%' }, "slow");
           //           });
       });
   </script>

 <%--  <script type="text/javascript">    
   $(function () {        
   var chart;       
   $(document).ready(function () {            
   chart = new Highcharts.Chart({                
   chart: {renderTo: 'div_deals',
   zoomType: 'xy', marginBottom: 100 },                
   title: {                    
   text: 'SALES SUMMARY'
   },                
   subtitle: {                   
    text: 'Month of January 2014'                
    },                
    xAxis: [{ categories: ['Week1','Week2','Week3','Week4','Week5','December','November','October'] }], 
    yAxis: [{                    
     labels: {                       
      enabled: false,                       
       formatter: function () {                         
          return this.value ;                      
            },                      
              style: {                          
                color: '#4572A7'                      
                  }                  
                    },                  
                      title: {                     
                         text: ' ',                      
                          style: {                       
                               color: '#4572A7'                    
                                   }                 
                                      }                 
                                         ,opposite: true             
                                            }, {                     title: {                        text: 'No.',                        style: {                            color: '#4572A7'                        }                    },                    labels: {                        formatter: function () {                            return this.value;                        },                        style: {                            color: '#4572A7'                        }                    },                    opposite: false                }],                tooltip: {                    formatter: function () {                         if(this.series.name == '1'){                             return ('Actual Activities : ' + this.x + ',' + this.y );                         }                         else{                              return ('Planned Activities : ' +this.series.name + ',' + this.y)                         }                    }                },                legend: {                    align: 'center',                    x: 0,                    verticalAlign: 'bottom',                    y: 15,                    floating: true,                    backgroundColor: '#FFFFFF'                },                plotOptions: {                    column: {                         allowPointSelect: true,                         cursor: 'pointer',                         point: {                             events: {                                 click: function (e) {var n=this.series.name.split('-');                                      GridColumnAnalysisGraph(this.x,this.series.name);                                  }                             }                         },                        stacking: 'normal',                        dataLabels: {                            enabled: true,                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'                        }                    }                    ,line: {                         allowPointSelect: true,                         cursor: 'pointer',                         point: {                             events: {                                 click: function (e) {                                     GridLineAnalysisGraph(this.x);                                  }                             }                         },                    }                },                
                                            series: [
                                           // { name: 'Call Cycle', color: '#FFFF00',type: 'column', yAxis: 1,data: [0,0,0,0,0,0,0,2]},
                                          //  { name: 'New Business', color: '#E57572',type: 'column', yAxis: 1,data: [0,0,0,0,0,0,0,21]},
                                          //  { name: 'Office / Admin Tasks', color: '#4BACC6',type: 'column', yAxis: 1,data: [0,0,0,0,1,0,0,9]},
                                          //  { name: 'Quality Complaint', color: '#AA3A37',type: 'column', yAxis: 1,data: [0,0,0,0,0,0,0,1]},
                                          //  { name: 'Sales', color: '#587816',type: 'column', yAxis: 1,data: [0,0,0,0,0,0,0,8]},
                                          //  { name: 'Travel', color: '#F79646',type: 'column', yAxis: 1,data: [0,0,0,0,0,0,0,2]},
                                            { name: '1', color: '#4572A7',type: 'line', yAxis: 1,showInLegend: false, data: [5,24,17,0,4,5,0,146]}                
                                            ]            });        });    });
</script>--%>
<%--<div><script type="text/javascript">
         $(function () {
             var chart; $(document).ready(function () {
                 chart = new Highcharts.Chart({ chart: { renderTo: 'div_customers', plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false },
                     title: { text: 'Stock Summary' },
                     tooltip: { formatter: function () 
                     {
                         return '<b>' + this.point.rowcount + ',' + this.point.y + '(' + Math.round(this.percentage * 100) / 100 + ' %)</b>';
                     } 
                 },
                 plotOptions: { pie: { allowPointSelect: true, cursor: 'pointer', point: { events: { click: function (e) { loadOpportunityGrid($('#MainContent_HiddenFieldPipelineStageId').val(), this.name); } } }, dataLabels: { enabled: true, color: '#000000', connectorColor: '#000000', formatter: function () { if (this.point.des == '') { return '<b>' + this.point.rowcount + ',' + this.point.y + '</b>'; } else { return '<b>' + this.point.des + '</b>'; } } }, showInLegend: true} }, series: [{ type: 'pie', name: 'state', rowcount: 'rowcount', des: 'des', data: [{ name: 'JPGL', y: 30, rowcount: '1', des: 'JPGL', color: '#2e5b94' }, { name: 'B&H', y: 3, rowcount: '2', des: 'B&H', color: '#e38928' }, { name: 'DH L', y: 25, rowcount: '3', des: 'DH L', color: '#892a27'}]}]
                 });
             });
         });</script></div>--%>


</asp:Content>
